<ion-header>

  <ion-navbar color="primary">
    <ion-title>User</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-card>

    <img src="{{img_url}}">

    <ion-item>
      <h2>{{other}}</h2>
      <p>&quot;{{descr}}&quot;</p>
      <ion-badge item-end>{{score}}</ion-badge>
    </ion-item>

    <ion-item *ngIf="admin == '1'">
      <ion-icon name='md-person' item-start style="color: #f95c71"></ion-icon>
      <p>{{real_name}}</p>
    </ion-item>

    <ion-item>
      <ion-icon name="calendar" item-start style="color: #f95c71"></ion-icon>
      <p>{{age}}</p>
    </ion-item>

    <ion-item>
      <ion-icon name="cut" item-start style="color: #f95c71"></ion-icon>
      <p>{{hair}}</p>
    </ion-item>

    <ion-item>
      <ion-icon name="eye" item-start style="color: #f95c71"></ion-icon>
      <p>{{eye}}</p>
    </ion-item>

    <ion-item>
      <ion-icon name="football" item-start style="color: #f95c71"></ion-icon>
      <p>{{hobbies}}</p>
    </ion-item>


    <ion-card-content center text-center>
      <p>
        <br>
        {{descr}}
      </p>
    </ion-card-content>

    <ion-card-content center text-center>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-icon name='people' class="xd" item-start style="color: black"></ion-icon>
          </ion-col>
          <ion-col>
            <div class="honey mid"></div>
          </ion-col>
          <ion-col>
            <div class="trump mid"></div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div>{{score_details.bet}}</div>
          </ion-col>
          <ion-col>
            <div>{{score_details.honey}}</div>
          </ion-col>
          <ion-col>
            <div>{{score_details.trump}}</div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>


  </ion-card>
  <ion-card *ngIf="admin == '1'">
    <ion-row>
      <ion-col>
        <button ion-button icon-left clear small (click)="changePoints()">
          <div>Change points</div>
        </button>
      </ion-col>
      <ion-col text-right>
        <button ion-button icon-left clear small  (click)="deleteUser()" >
          <div>Delete</div>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>


</ion-content>

