
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Model Wall</ion-title>
  </ion-navbar>
</ion-header>


<ion-content  class="card-background-page">


  <ion-content>

    <ion-card *ngFor="let m of models; let i = index">
      <img src="{{m.img_url}}" *ngIf="m.out == 0" imageViewer>
      <img src="{{m.img_url}}" ngClass="gray_img" *ngIf="m.out == 1" imageViewer>
    <div class="card-title">{{m.name}}, {{m.age}}</div>
    <div class="card-subtitle">&quot;{{m.descr}}&quot;</div>
      <button ion-button clear item-end (click)="openLink(m.link)">More</button>
      <button ion-button clear item-end (click)="toggleActive(m.id, i)" *ngIf="admin == '1'">Toggle</button>
  </ion-card>
<!--<ion-list>-->
    <!--<ion-item>-->
      <!--<ion-thumbnail item-start>-->
        <!--<img src="{{m.img_url}}" *ngIf="m.out == 0" imageViewer>-->
        <!--<img src="{{m.img_url}}" ngClass="gray_img" *ngIf="m.out == 1" imageViewer>-->
      <!--</ion-thumbnail>-->
      <!--<h2>{{m.name}}, {{m.age}}</h2>-->
      <!--<p>{{m.descr}}</p>-->
      <!--<button ion-button clear item-end (click)="openLink(m.link)">More</button>-->
    <!--</ion-item>-->
  <!--</ion-list>-->


</ion-content>
