<ion-header>

  <ion-navbar #navbar color="primary">
    <ion-title>Challenge</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-card>

    <ion-item>
      <h2>{{name}}</h2>
      <p *ngIf="type >= 1">by {{creator}}</p>
      <ion-badge item-end>
        {{points}}
      </ion-badge>
      <ion-icon name="checkmark" style="color: #c3af80" item-end *ngIf="open == 2"></ion-icon>
    </ion-item>

    <ion-card-content>
      <div [innerHTML]="descr"></div>
    </ion-card-content>
    <ion-card-content *ngIf="type < 2">
      <i>Possible Answers:</i>
      <ul style="list-style-type:square" *ngIf="has_choice == 2">
        <li *ngFor="let ch of choice_list | slice:0:4; let i = index">
          <p *ngIf="i < 3">{{ch}}</p>
          <p *ngIf="i == 3">...</p>
        </li>
      </ul>
      <ul style="list-style-type:circle" *ngIf="has_choice == 1">
        <li *ngFor="let ch of choice_list | slice:0:4; let i = index">
          <p *ngIf="i < 3">{{ch}}</p>
          <p *ngIf="i == 3">...</p>
        </li>
      </ul>
      <p *ngIf="has_choice == 0">Everything ;-D</p>

    </ion-card-content>
    <ion-card-content *ngIf="open<=0 && etime.time != '' && etime.date != '' ">
      <i>Open until: {{etime.date}} {{etime.time}}</i>
    </ion-card-content>
    <ion-card-content *ngIf="cadmin == '1' || open==2">
      <p *ngIf="type != 2 && answer != ''"><b>Solution:</b> {{answer}}</p>
      <p *ngIf="type == 2 && answer == '0'"><b>Solution:</b> Won Bet</p>
      <p *ngIf="type == 2 && answer == '1'"><b>Solution:</b> Lost Bet</p>
    </ion-card-content>



    <ion-row>
      <ion-col *ngIf="open == 0 && type != 2">
        <button ion-button icon-left clear small (click)="doAnswer()" *ngIf="cadmin == '0'">
          <ion-icon name="text"></ion-icon>
          <div>Answer</div>
        </button>
      </ion-col>
      <ion-col *ngIf="open == 0 && type == 2">
        <button ion-button icon-left clear small (click)="doBetAgainst()" *ngIf="cadmin == '0'">
          <ion-icon name="text"></ion-icon>
          <div>Bet against</div>
        </button>
      </ion-col>
      <ion-col text-end>
        <button ion-button icon-left clear small>
          <div *ngIf="open == 0">open</div>
          <div *ngIf="open >= 1">closed.</div>
        </button>
        <button ion-button icon-left clear small *ngIf="cadmin == '1' && admin == '0' && open >= 0 && open < 2 && !(etime.time != '' && etime.date != '' ) " (click)="toggleOpen()">
          <div>Open/Close</div>
        </button>
        <button ion-button icon-left clear  *ngIf="cadmin == '1' && admin == '0' && open < 0" (click)="makePublic()">
          <ion-icon name="arrow-round-forward"></ion-icon>
          <div>Make Public </div>
          <ion-icon name="arrow-round-back"></ion-icon>
        </button>
        <button ion-button icon-left clear small *ngIf="admin == '1'" (click)="chVal('open', 'Open')">
          <div>Open/Close</div>
        </button>
      </ion-col>
    </ion-row>

  </ion-card>


  <ion-card *ngIf="cadmin == '1' && open < 0">
    <ion-item>
      <ion-icon name="swap" item-start style="color: #c3af80"></ion-icon>
      <ion-label><p>Direct Bet</p></ion-label>
      <ion-toggle [(ngModel)]="embet" (ngModelChange)="changeEmBet()"></ion-toggle>
    </ion-item>
  </ion-card>

  <ion-card *ngIf="cadmin == '1' && (admin == 1 || open < 2)">

    <ion-row>
      <ion-col *ngIf="open < 0 || (open == 0 && type != 2) ">
        <button ion-button icon-left clear small (click)="chVal('name', 'Title')">
          <div>Edit Title</div>
        </button>
      </ion-col>
      <ion-col *ngIf="open < 0 || (open == 0 && type != 2)">
        <button ion-button icon-left clear small (click)="chVal('descr', 'Description')">
          <div>Edit Description</div>
        </button>
      </ion-col>
      <ion-col *ngIf="open <= 0 && type != 2">
        <button ion-button icon-left clear small (click)="chChoices()">
          <div>Edit Choices</div>
        </button>
      </ion-col>
      <ion-col *ngIf="admin == 1">
        <button ion-button icon-left clear small (click)="chVal('label', 'Label')">
          <div>Edit Label</div>
        </button>
      </ion-col>
      <ion-col *ngIf="type==0  || (type == 2 && open < 0)">
        <button ion-button icon-left clear small (click)="chPoints()">
          <div>Set Points</div>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card *ngIf="cadmin == '1' && (admin == 1 || open <= 0)">
    <ion-item>
      <ion-label>End Time</ion-label>
      <ion-datetime displayFormat="HH:mm" pickerFormat="HH mm" placeholder="hh:mm" [(ngModel)]="etime.time" (ngModelChange)="setEndTime()"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>End Date</ion-label>
      <ion-datetime displayFormat="DD.MMMM YYYY" pickerFormat="DD MMM YYYY" placeholder="dd.mm.yyyy" [(ngModel)]="etime.date" (ngModelChange)="setEndTime()"></ion-datetime>
    </ion-item>
    <ion-row>
      <ion-col>
        <button ion-button icon-left clear small (click)="setEndTime(1)">
          <div>Set Time</div>
        </button>
      </ion-col>
      <ion-col>
      <button ion-button icon-left clear small (click)="deleteEndTime()" float-right>
        <div>Delete Time</div>
      </button>
    </ion-col>
    </ion-row>
  </ion-card>

  <ion-card *ngIf="cadmin == '1' && (admin == 1 || open < 2) && open >= 0">
    <ion-row>
      <ion-col *ngIf="type != 2">
        <button ion-button icon-left clear small (click)="setSolution()" >
          <div>Edit Solution</div>
        </button>
      </ion-col>
      <ion-col *ngIf="type == 2">
        <button ion-button icon-left clear small (click)="setSolution()" >
          <div>Edit Solution</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left clear small (click)="evalChallenge()" float-right>
          <div>End & Give Points</div>
        </button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="type != 2">
      <ion-col>
        <button ion-button icon-left clear small (click)="deleteChallenge()">
          <div>Delete</div>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card *ngIf="c_anwser != ''">

    <ion-item>
      <ion-avatar item-start (click)="toggleVisible(-1)">
        <img src="{{ca_own.img_url}}">
      </ion-avatar>
      <h2>{{ca_own.username}}</h2>
      <p *ngIf="type != 2">{{ca_own.text}}</p>
      <p *ngIf="type == 2">I dare you!</p>
      <button ion-button clear small (click)="spentPoints(-1)" item-end *ngIf="open == 0 && type==1">-</button>
      <ion-badge item-end *ngIf="type==1">{{ca_own.points}}</ion-badge>
      <button ion-button clear small (click)="spentPoints(1)" item-end *ngIf="open == 0 && type==1">+</button>
      <button ion-button clear small (click)="deleteOwnAnswer()" item-end *ngIf="open == 0 && type==2">
        <ion-icon name="close"></ion-icon>
      </button>

    </ion-item>

    <ion-card-content *ngIf="isVisible(-1)">
      <p *ngIf="type != 2">{{ca_own.text}}</p>
      <p *ngIf="type == 2">I dare you!</p>
    </ion-card-content>
    <ion-row>
      <ion-col *ngIf="type != 2">
        <button ion-button icon-left clear small (click)="doAnswer()" item-end *ngIf="open == 0">
          <ion-icon name="text"></ion-icon>
          <div>Edit</div>
        </button>
        <button ion-button icon-left clear small (click)="deleteOwnAnswer()" *ngIf="open == 0" float-right>
          <ion-icon name="close"></ion-icon>
          <div>Delete</div>
      </button>
      </ion-col>
    </ion-row>

  </ion-card>

  <ion-card *ngFor="let ca of ca_other; let i = index">

    <ion-item (click)="toggleVisible(i)">
      <ion-avatar item-start (click)="frwdToUser(ca.username)">
        <img src="{{ca.img_url}}">
      </ion-avatar>
      <h2>{{ca.username}}</h2>
      <p *ngIf="type != 2">{{ca.text}}</p>
      <p *ngIf="type == 2">I dare you!</p>
      <ion-badge item-end *ngIf="type==1">{{ca.points}}</ion-badge>
    </ion-item>
    <ion-card-content *ngIf="isVisible(i)">
      <p *ngIf="type != 2">{{ca.text}}</p>
      <p *ngIf="type == 2">I dare you!</p>
    </ion-card-content>

  </ion-card>


</ion-content>
