page-modelwall {

  .gray_img {
    -webkit-filter: grayscale(1); /* Safari 6.0 - 9.0 */
    filter: grayscale(1);
  }

  .card-background-page {

    ion-card {
      position: relative;
      text-align: left;
    }

    .card-title {
      position: absolute;
      top: 50%;
      font-size: 1.5em;
      width: 100%;
      left: 2%;
      font-weight: bold;
      color: #fff;
    }

    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 60%;
      left: 2%;
      width: 100%;
      color: #fff;
    }

  }

  ion-avatar img  {
    width: 60% !important;
    height : 60% !important;
    max-width: 50px !important;  //any size
    max-height: 50px !important; //any size
  }

  .honey {
    background:
      url(../assets/imgs/honey.jpg);
    -webkit-filter: grayscale(0.7); /* Safari 6.0 - 9.0 */
    filter: grayscale(0.7);
    background-size: cover;
    width: 35px;
    height: 35px;
    margin: 5px 0 0 5px;
    position: relative;
    float: right;
  }

  .trump {
    background:
      url(../assets/imgs/trump.jpg);
    -webkit-filter: grayscale(0.7); /* Safari 6.0 - 9.0 */
    filter: grayscale(0.7);
    background-size: cover;
    width: 35px;
    height: 35px;
    margin: 5px 0 0 5px;
    position: relative;
    float: right;
  }


  .mid p {
    font-weight: 400;
    color: white;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 2rem;
    transform: translate(-50%, -50%);
  }

}
