<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Challenges</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addChallenge()">
        <ion-icon name="add-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>



<ion-content>

  <br>
  <ion-list>
    <ion-item *ngFor="let c of challenges" (click)="onChallenge(c.id)">
      <h2>{{c.name}}</h2>
      <p *ngIf="c_stng == 'special' || (c_stng == 'closed' && c.creator == '')">Special</p>
      <p *ngIf="c_stng == 'community' || (c_stng == 'closed' && c.creator != '')">by {{c.creator}}</p>
      <ion-icon name="help-circle" item-end style="color: #c3af80" *ngIf="c_stng != 'closed'"></ion-icon>
      <ion-icon name="close-circle" item-end style="color: #c3af80" *ngIf="c_stng == 'closed'"></ion-icon>
    </ion-item>
  </ion-list>

</ion-content>

