<ion-header>

  <ion-navbar color="primary">
    <ion-title>Challenge</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-card>

    <ion-item>
      <h2>{{name}}</h2>
      <p *ngIf="type == 1">by {{creator}}</p>

      <ion-badge item-end>
        {{points}}
      </ion-badge>
    </ion-item>

    <ion-card-content>
      <div [innerHTML]="descr"></div>
    </ion-card-content>
    <ion-card-content *ngIf="cadmin == '1' || open==2">
      <b>Solution:</b> {{answer}}
    </ion-card-content>



    <ion-row>
      <ion-col *ngIf="open == 0">
        <button ion-button icon-left clear small (click)="doAnswer()" *ngIf="cadmin == '0'">
          <ion-icon name="text"></ion-icon>
          <div>Answer</div>
        </button>
      </ion-col>
      <ion-col text-end>
        <button ion-button icon-left clear small>
          <div *ngIf="open == 0">open</div>
          <div *ngIf="open >= 1">closed.</div>
        </button>
        <button ion-button icon-left clear small *ngIf="cadmin == '1' && admin == '0' && open < 2" (click)="toggleOpen()">
          <div>Open/Close</div>
        </button>
        <button ion-button icon-left clear small *ngIf="admin == '1'" (click)="chVal('open', 'Open')">
          <div>Open/Close</div>
        </button>
      </ion-col>
    </ion-row>

  </ion-card>


  <ion-card *ngIf="cadmin == '1' && (admin == 1 || open < 2)">

    <ion-row>
      <ion-col *ngIf="open == 0">
        <button ion-button icon-left clear small (click)="chVal('name', 'Headline')">
          <div>Edit Name</div>
        </button>
      </ion-col>
      <ion-col *ngIf="open == 0">
        <button ion-button icon-left clear small (click)="chVal('descr', 'Text')">
          <div>Edit Text</div>
        </button>
      </ion-col>
      <ion-col *ngIf="open == 0">
        <button ion-button icon-left clear small (click)="chVal('choice', 'Choice')">
          <div>Edit Choice</div>
        </button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button ion-button icon-left clear small (click)="chVal('answer', 'Right Solution')" >
          <div>Edit Solution</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left clear small (click)="evalChallenge()" float-right>
          <div>End & Give Points</div>
        </button>
      </ion-col>
      <ion-col *ngIf="type==0 ">
        <button ion-button icon-left clear small (click)="chVal('points', 'Points')">
          <div>Edit Points</div>
        </button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
      <button ion-button icon-left clear small (click)="deleteChallenge()">
        <div>Delete</div>
      </button>
      </ion-col>
    </ion-row>

  </ion-card>


  <ion-card *ngIf="cadmin == '1' && (admin == 1 || open == 0)">
    <ion-item>
      <ion-label>End Time</ion-label>
      <ion-datetime displayFormat="HH:mm" pickerFormat="HH mm" placeholder="hh:mm" [(ngModel)]="etime.time"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>End Date</ion-label>
      <ion-datetime displayFormat="DD.MMMM YYYY" pickerFormat="DD MMM YYYY" placeholder="dd.mm.yyyy" [(ngModel)]="etime.date"></ion-datetime>
    </ion-item>
    <ion-row>
      <ion-col>
        <button ion-button icon-left clear small (click)="setEndTime()">
          <div>Set Time</div>
        </button>
      </ion-col>
      <ion-col>
      <button ion-button icon-left clear small (click)="deleteEndTime()" float-right>
        <div>Delete Time</div>
      </button>
    </ion-col>
    </ion-row>
  </ion-card>

  <ion-card *ngIf="c_anwser != ''">

      <ion-item>
        <ion-avatar item-start (click)="toggleVisible(-1)">
          <img src="{{ca_own.img_url}}">
        </ion-avatar>
        <h2>{{ca_own.username}}</h2>
        <p>{{ca_own.text}}</p>
        <button ion-button clear small (click)="spentPoints(-1)" item-end *ngIf="open == 0 && type==1">-</button>
        <ion-badge item-end *ngIf="type==1">{{ca_own.points}}</ion-badge>
        <button ion-button clear small (click)="spentPoints(1)" item-end *ngIf="open == 0 && type==1">+</button>

      </ion-item>
    <ion-card-content *ngIf="isVisible(-1)">
      <p>{{ca_own.text}}</p>
    </ion-card-content>
    <ion-row>
      <ion-col>
        <button ion-button icon-left clear small (click)="doAnswer()" item-end *ngIf="open == 0">
          <ion-icon name="text"></ion-icon>
          <div>Edit</div>
        </button>


      </ion-col>
    </ion-row>

  </ion-card>

  <ion-card *ngFor="let ca of ca_other; let i = index">

    <ion-item (click)="toggleVisible(i)">
      <ion-avatar item-start (click)="frwdToUser(ca.username)">
        <img src="{{ca.img_url}}">
      </ion-avatar>
      <h2>{{ca.username}}</h2>
      <p>{{ca.text}}</p>
      <ion-badge item-end *ngIf="type==1">{{ca.points}}</ion-badge>
    </ion-item>
    <ion-card-content *ngIf="isVisible(i)">
      <p>{{ca.text}}</p>
    </ion-card-content>

  </ion-card>


</ion-content>
