<!--
  Generated template for the ChallengedetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Challenge</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-card>

    <ion-card-header>
      {{name}}
    </ion-card-header>
    <ion-card-content>
      {{descr}}
    </ion-card-content>


    <ion-row>
    <ion-col *ngIf="open == 1">
      <button ion-button icon-left clear small (click)="doAnswer()">
        <ion-icon name="text"></ion-icon>
        <div>Answer</div>
      </button>
    </ion-col>
    <ion-col text-end>
      <button ion-button icon-left clear small>
        <div>{{c_text}}</div>
      </button>
    </ion-col>
  </ion-row>

  </ion-card>

  <ion-card *ngIf="c_anwser != ''" (click)="toggleVisible(-1)">

      <ion-item>
        <ion-avatar item-start>
          <img src="{{ca_own.img_url}}">
        </ion-avatar>
        <h2>{{ca_own.username}}</h2>
        <p>{{ca_own.text}}</p>
        <button ion-button icon-left clear small (click)="doAnswer()" item-end *ngIf="open == 1">
          <ion-icon name="text"></ion-icon>
          <div>Edit</div>
        </button>
      </ion-item>
    <ion-card-content *ngIf="isVisible(-1)">
      <p>{{ca_own.text}}</p>
    </ion-card-content>

  </ion-card>

  <ion-card *ngFor="let ca of ca_other; let i = index">

    <ion-item (click)="toggleVisible(i)">
      <ion-avatar item-start>
        <img src="{{ca.img_url}}">
      </ion-avatar>
      <h2>{{ca.username}}</h2>
      <p>{{ca.text}}</p>
    </ion-item>
    <ion-card-content *ngIf="isVisible(i)">
      <p>{{ca.text}}</p>
    </ion-card-content>

  </ion-card>


</ion-content>
